[submodule "Reliable-UDP"]
	path = Reliable-UDP
	url = https://github.com/andrewzk/Reliable-UDP.git
[submodule "lock_free_queue"]
	path = lock_free_queue
	url = https://github.com/haipome/lock_free_queue.git
[submodule "netpoll"]
	path = netpoll
	url = https://github.com/cloudwego/netpoll.git
[submodule "ceph"]
	path = ceph
	url = https://github.com/ceph/ceph
[submodule "librdkafka"]
	path = librdkafka
	url = https://github.com/edenhill/librdkafka
[submodule "polaris"]
	path = polaris
	url = https://github.com/polarismesh/polaris.git
[submodule "xxl-job"]
	path = xxl-job
	url = https://github.com/xuxueli/xxl-job.git
[submodule "sarama"]
	path = sarama
	url = https://github.com/Shopify/sarama.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "squid"]
	path = squid
	url = https://github.com/squid-cache/squid.git
[submodule "etcd"]
	path = etcd
	url = https://github.com/etcd-io/etcd.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/go-sql-driver/mysql.git
[submodule "glusterfs"]
	path = glusterfs
	url = https://github.com/gluster/glusterfs.git
[submodule "xredis"]
	path = xredis
	url = https://github.com/0xsky/xredis.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "pika"]
	path = pika
	url = https://github.com/OpenAtomFoundation/pika.git
[submodule "istio"]
	path = istio
	url = https://github.com/istio/istio.git
[submodule "moosefs"]
	path = moosefs
	url = https://github.com/moosefs/moosefs.git
[submodule "envoy"]
	path = envoy
	url = https://github.com/envoyproxy/envoy.git
[submodule "redis"]
	path = redis
	url = https://github.com/redis/redis.git
[submodule "trafficserver"]
	path = trafficserver
	url = https://github.com/apache/trafficserver.git
[submodule "tidb"]
	path = tidb
	url = https://github.com/pingcap/tidb.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/nginx/nginx.git
[submodule "server"]
	path = server
	url = https://github.com/MariaDB/server.git
[submodule "junction"]
	path = junction
	url = https://github.com/preshing/junction.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "gperftools"]
	path = gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "tikv"]
	path = tikv
	url = https://github.com/tikv/tikv.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb.git
[submodule "fastdfs"]
	path = fastdfs
	url = https://github.com/happyfish100/fastdfs.git
[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/apache/zookeeper.git
[submodule "ccbase"]
	path = ccbase
	url = https://github.com/mikewei/ccbase.git
[submodule "f-stack"]
	path = f-stack
	url = https://github.com/F-Stack/f-stack.git
[submodule "shm_container"]
	path = shm_container
	url = https://github.com/mikewei/shm_container.git
[submodule "RocketMQ"]
	path = RocketMQ
	url = https://github.com/bingwong2010/RocketMQ.git
[submodule "hyperudp"]
	path = hyperudp
	url = https://github.com/mikewei/hyperudp.git
[submodule "libshmcache"]
	path = libshmcache
	url = https://github.com/happyfish100/libshmcache.git
[submodule "openresty"]
	path = openresty
	url = https://github.com/openresty/openresty.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
[submodule "memento"]
	path = memento
	url = https://github.com/codepr/memento.git
[submodule "incubator-brpc"]
	path = incubator-brpc
	url = https://github.com/apache/incubator-brpc.git
[submodule "gMaxLinked"]
	path = gMaxLinked
	url = https://github.com/shoutrain/gMaxLinked.git
[submodule "taf"]
	path = taf
	url = https://github.com/gamegrd/taf.git
[submodule "grpc"]
	path = grpc
	url = https://github.com/grpc/grpc.git
[submodule "libco"]
	path = libco
	url = https://github.com/tencent-wechat/libco.git
[submodule "co2"]
	path = co2
	url = https://github.com/jamboree/co2.git
[submodule "nessDB"]
	path = nessDB
	url = https://github.com/BohuTANG/nessDB.git
[submodule "aisqlpp"]
	path = aisqlpp
	url = https://github.com/melonshell/aisqlpp.git
[submodule "cascadb"]
	path = cascadb
	url = https://github.com/weicao/cascadb.git
[submodule "BerkeleyDB"]
	path = BerkeleyDB
	url = https://github.com/hyc/BerkeleyDB.git
[submodule "epoll_threadpool"]
	path = epoll_threadpool
	url = https://github.com/aarond10/epoll_threadpool.git
[submodule "libtask"]
	path = libtask
	url = https://github.com/jamwt/libtask.git
[submodule "connectionPool"]
	path = connectionPool
	url = https://github.com/sakishum/connectionPool.git
[submodule "Process_pool"]
	path = Process_pool
	url = https://github.com/Sim-szm/Process_pool.git
[submodule "nedmalloc"]
	path = nedmalloc
	url = https://github.com/ned14/nedmalloc.git
[submodule "redlock-cpp"]
	path = redlock-cpp
	url = https://github.com/jacket-code/redlock-cpp.git
[submodule "tsunami-udp"]
	path = tsunami-udp
	url = https://github.com/cheetahmobile/tsunami-udp.git
[submodule "sharedhashfile"]
	path = sharedhashfile
	url = https://github.com/simonhf/sharedhashfile.git
[submodule "lthread"]
	path = lthread
	url = https://github.com/halayli/lthread.git
[submodule "redispool"]
	path = redispool
	url = https://github.com/msempere/redispool.git
[submodule "setjmp-longjmp-ucontext-snippets"]
	path = setjmp-longjmp-ucontext-snippets
	url = https://github.com/danluu/setjmp-longjmp-ucontext-snippets.git
[submodule "yieldxx"]
	path = yieldxx
	url = https://github.com/LEW21/yieldxx.git
[submodule "coroutine"]
	path = coroutine
	url = https://github.com/cloudwu/coroutine.git
[submodule "stackless_coroutine"]
	path = stackless_coroutine
	url = https://github.com/jbandela/stackless_coroutine.git
[submodule "hyperrpc"]
	path = hyperrpc
	url = https://github.com/mikewei/hyperrpc.git
[submodule "C-Thread-Pool"]
	path = C-Thread-Pool
	url = https://github.com/Pithikos/C-Thread-Pool.git
[submodule "mariadb-connector-c"]
	path = mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c.git
[submodule "Tars"]
	path = Tars
	url = https://github.com/TarsCloud/Tars.git
[submodule "MSEC"]
	path = MSEC
	url = https://github.com/Tencent/MSEC.git
